/* Common, default styles for the notification box */

.mt-box {
	position: fixed;
	background: rgba(42,45,50,0.85);
	padding: 22px;
	line-height: 1.4;
	z-index: 1000;
	pointer-events: none;
	color: rgba(250,251,255,0.95);
	font-size: 90%;
	font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, samt-serif;
    &.mt-show,&.mt-visible {
        pointer-events: auto;
    }
    a {
        color: inherit;
        opacity: 0.7;
        font-weight: 700;
        &:hover,
        &:focus {
            opacity: 1;
        }

    }
    p {
        margin: 0;
    }
}

.mt-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 4px;
	top: 4px;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	backface-visibility: hidden;
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 60%;
        top: 50%;
        left: 50%;
        background: #6e6e6e;
    }

    &::before {
        transform: translate(-50%,-50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%,-50%) rotate(-45deg);
    }

    &:hover, 
    &:focus {
        outline: none;
        &::before, &::after{
            background:#fff;
        }
    }
}
